body{
  background-color:#96D1C7;
  text-align: center;

   font-family:'Ballet';
   font-weight: bold;
     font-size: 25px;
}
.gmail,.insta{
  height:40px;
  width:40px;

}
.g{
  font-family:'Ballet';
  font-weight: bold;
    font-size: 25px;
}
.h{
  font-family:'Mansalva';
  font-weight: bold;
    font-size: 25px;
}

hr{
border-color:purple;
border-width:5px;
  border-style:dotted none none none;
  height:0px;
  width:20%;
}
